#owl-promo {
    border: 3px solid #eee;
    width: 100%;
}
.product-best-sale #owl-promo {
    border: 3px solid #ba0953;
    width: 100%;
}

.homepromo {
    clear: both;
    display: block;
    background: #fff;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    flex: 1 100%;
    border-top: 1px solid #eee;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}

.item2020 {
    height: auto !important;
}

.owl-carousel {
    position: relative;
    width: 100%;
    /* -ms-touch-action: pan-y; */
}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.owl-carousel .owl-warpper {
    width: 9690px;
    display: none;
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.product-star .owl-carousel .owl-warpper {
    width: 1240px;
}

.homepromo .owl-item {
    float: left;
    width: 248px;
    height: 288px;
    cursor: pointer;
    overflow: hidden;
}
.homepromo .owl-item.star {
    width: 476px;
}

.homepromo .item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 16px; 
    .deal-sale {
        position: relative;
        margin: 0 auto;
        width: 192px;
        height: 192px;
        overflow: hidden;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 192px;
            height: 192px;
            object-fit: contain;
            z-index: 1;
            margin: 0;
            padding: 0;
        }
        .deal-discount {
            background-color: rgb(255, 66, 78);
            color: rgb(255, 255, 255);
            font-size: 13px;
            line-height: 20px;
            font-weight: 500;
            position: absolute;
            z-index: 3;
            top: -2px;
            left: -2px;
            border-radius: 4px 0px 26px;
            padding: 2px 8px 4px 2px; 
        }
    }
    .deal-price {
        font-size: 15px;
        line-height: 24px;
        text-align: center;
        font-weight: 500;
        color: rgb(36, 36, 36);
        margin: 12px 0px 8px;
    }
    .deal-total {
        background-color: rgb(255, 170, 175);
        color: rgb(255, 255, 255);
        border-radius: 10px;
        position: relative;
        display: flex;
        width: 100%;
        height: 20px;
        .roundy{
            position: absolute;
            left: 0px;
            top: 0px;
            background-color: rgb(255, 66, 78);
            height: 20px;
            border-radius: 10px;
            min-width: 20px;
        }
        span {
            font-size: 12px;
            line-height: 16px;
            padding: 0px 0px 0px 6px;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            position: absolute;
            text-align: center;

            vertical-align: middle;

            text-decoration: none;
            color: #FFF;
        }
    }
}
.homepromo .item:hover {
    box-shadow: 0px 0px 20px #000;
    z-index: 2;
    border: 5px solid transparent;
    transition: 0.3s;
}