/* color: #FED101; */
:root {
    --body: rgb(239, 239, 239);

    --bg-primary: rgb(1, 127, 255);
    --btn-dannger: rgb(255, 57, 69);
    --btn-search: rgb(13, 92, 182);
    --btn-fb: rgb(59, 89, 152);
    --btn-google: rgb(223, 74, 50);
    --btn-zalo: rgb(15, 142, 211);
    --btn-yellow: rgb(253, 216, 53);
    --btn-success: rgb(#00a400);
    --hover-primary: rgb(245, 245, 245);
    --hover-second: transparent;
}



//span
span.span-center {
    color: rgb(74, 74, 74);
    width: 100%;
    text-align: center;
    padding: 0;
    border: none !important;

}

span.span-border-none {
    border: none;
}

//


// hover
// hover-primary
// 
// postion
.position-absolute {
    position: absolute;
    top: 0;
    // left: -70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
}

.position-absolute.top-42 {
    top: 42px;
}

.position-absolute.top-40 {
    top: 40px;
}

.position-absolute.left-120 {
    left: -120px;
    transform: none;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
input,
button,
option,
textarea,
label,
legend,
h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #333;
    outline: none;
    zoom: 1;
    padding: 0;
    margin: 0;
}

a,
a:active,
a:hover,
a:link,
a:visited {
    text-decoration: none;
    color: rgba(0, 0, 0, .9);
}

ul,
ol,
li {
    list-style: none;
}

.clr {
    clear: both;
}

body {
    background: var(--body);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    position: relative;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;

    section {
        max-width: 1240px;
        width: 1240px;
        margin: 0 auto;
        position: relative;

        .register {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            min-height: 100vh;

        }

        .search-all {
            width: 100%;
        }

        .breadcrumb {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            height: 40px;

            .breadcrumb-item {
                position: relative;
                display: flex;
                -webkit-box-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                align-items: center;
                height: 40px;
                color: rgb(153, 153, 153);
                font-size: 14px;
                font-weight: 500;
                white-space: nowrap;
            }

        }




    }

}

.item-rate {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .icon-star {
        background-image: url("https://www.thegioididong.com/Content/desktop/images/V5/icondesktop20200728@1x.png?v=2");
        background-repeat: no-repeat;
        display: inline-block;
        height: 12px;
        width: 12px;
        line-height: 30px;
        vertical-align: middle;
        background-position: -295px -30px;
        margin: 0 2px 0 0;

    }

    span {
        padding: 0 0 0 8px;
        font-size: 14px;
    }
}




.btn.btn-primary {

    color: #FFF;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    height: 32px;
    min-width: 72px;
    padding: 0 32px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    margin: 0 10px 0 0;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    background-color: #ee4d2d;

    a {
        color: #FFF;
    }
}

.btn.btn-primary.larger {
    height: 42px;
    padding: 0 50px;
}


// custom
.mg-16 {
    margin: 0px 16px;
}

// 


table {
    background: #FFF;
    border: 1px solid rgba(34, 36, 38, .15);
    box-shadow: none;
    border-radius: .28571429rem;
    text-align: left;
    color: rgba(0, 0, 0, .87);
    border-collapse: separate;
    border-spacing: 0;
    font-size: 14px;
    font-weight: 500;
    width: 100%;

    img {
        max-width: 200px;
        max-height: 100px;
    }

    thead {
        height: 100px;
        width: 100%;
        background-color: #F9FAFB;

        th {
            padding: 10px 0;
            width: calc(100% / 6);
        }

        th:nth-child(1) {
            width: 5%;
            text-align: center;
        }

        th:nth-child(2) {
            width: 15%;
        }

        tbody tr {
            display: flex;
            justify-content: center;
            align-items: center;

            tbody tr td {
                min-height: 100px;
                overflow: hidden;
                border: 1px solid rgba(34, 36, 38, .1);
                padding: 10px;
                position: relative;

                tbody tr td.td-group td {
                    width: 20%;
                }

            }

            tbody tr td.td-group {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        }

        td {
            height: 104px;
            border-bottom: 1px solid #e5e5e5;
        }

    }

    .td-id {
        color: var(--bg-primary);
        cursor: pointer;
        font-weight: 600;
    }

    tfoot {
        height: 100px;
        width: 100%;
        background-color: #F9FAFB;
    }

    tfoot tr>td {
        height: 50px !important;
        text-align: right;
        padding: 10px;
        border: 1px solid rgba(34, 36, 38, .1);
    }
}

td {
    height: 104px;
    border-bottom: 1px solid #e5e5e5;
}

table.analysis-table{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 10px;
    th:nth-child(1) {
        width: 20%;
        text-align: left;
    }

    th:nth-child(2) {
        width: 20%;
    }
    th:last-child {
        text-align: right;
    }
    th {
        text-align: left;
    }

}

.btns,
a.btns {
    height: 32px;
    line-height: 32px;
    min-width: 72px;
    padding: 0 32px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    margin: 0 10px 0 0;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    outline: none;

    color: #333;
    background-color: #fff;
    border: 1px solid #e5e5e5;
}

a.btn-cancel {
    position: absolute;
    top: 10px;
    right: 25px;
    width: 24px;
    height: 24px;
    line-height: 30px;
    border-radius: 6px;
    outline: none;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    border: 1px solid transparent;
    background: #FFF;
    color: #000;
    font-weight: bold;
}

.btns.btn-block {
    display: block;
}

.btns.btn-success {
    background-color: var(--bg-primary);
    border: none;
    color: #FFF;

    a {
        color: #FFF;
    }
}

.btns.btn-primary {
    background-color: #ee4d2d;
    color: #FFF;
    border: none;

    a {
        color: #FFF;
    }
}

.btns.btn-create {
    background-color: #00a400;
    color: #FFF;
    border: none;

    a {
        color: #FFF;
    }
}

.btns.larger,
a.btns.larger {
    height: 40px;
    line-height: 40px;
}



.mt-16 {
    margin: 16px 20px 16px 0;
}

.outline-pri {
    border: 1px solid #ee4d2d !important;
}

td.name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 370px;
    max-width: 370px;
    padding: 0 20px 0 0;

    img {
        width: 56px;
        height: 56px;
    }

    .product-name {
        width: 306px;
        max-width: 306px;
        padding: 0 10px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}


// group-btn
.group-button {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 8px;
    padding-bottom: 12px;

    button,
    input {
        cursor: pointer;
        height: 30px;
        width: 30px;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(236, 236, 236);
        color: rgb(36, 36, 36);
        font-size: 14px;
        text-align: center;
        outline: none;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    }

    input,
    span.value {
        font-family: inherit;
        font-size: 100%;
        line-height: 1.15;
        margin: 0px;
        width: 40px;
        text-align: center;
        border-right: none;
        border-left: none;
    }

    span {
        color: rgb(253, 130, 10);
        font-size: 14px;
        font-weight: 600;
        line-height: 1.54;
        margin-left: 12px;
        text-transform: uppercase;
    }


}

// end group


input:focus {
    border: 1px solid rgb(1, 127, 255) !important;
}

//

ul.pagination {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    // pagination
    width: 100%;
    padding-right: 50px;

    li {
        overflow: hidden;
        padding: 6px 12px;
        margin: 0 2px;
        line-height: 1.42857143;
        color: #337ab7;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
        cursor: pointer;
    }

    li:hover {
        border: 1px solid #337ab7;
        color: #FFF;
        background: #337ab7;
    }

}

.pagination>li>a,
.pagination>li>span {
    // position: relative;
    // float: left  
    padding: 6px 12px;
    margin: 0 2px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
}

.pagination>li:hover>a,
.pagination>li:hover>span {
    background: #337ab7;
    color: #FFF;
}




.btns-login-register {
    background: var(--btn-yellow);
}

.btns-fb {
    background: var(--btn-fb)
}

.btns-google {
    background: var(--btn-google)
}

.btns-zalo {
    background: var(--btn-zalo)
}

.d-flex {
    display: flex;
    flex-direction: row;
}

.d-flex-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.d-flex {
    display: flex;
    flex-direction: row;
}

.d-flex-column {
    display: flex;
    flex-direction: column;

}

.d-flex-column-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.d-flex-column-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.span-line-through {
    text-decoration: line-through;
}

.status {
    padding: 5px 10px;
}
.status.return {
    background: var(--btn-dannger);
    color: #FFF;
    font-weight: 400;
    a {
        color: #FFF;
        font-weight: 400;
    }
}




// media

// end media